<html>
    <head>
        <title>Maxime AVON - CV</title>
        <meta charset="utf-8">
        <link href="css/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/myCV.css" media="all" rel="stylesheet" type="text/css" />
        <link href="css/myCV-scrollmagic.css" media="all" rel="stylesheet" type="text/css" />
        <link href="css/myCV-print.css" media="print" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600" media="all" rel="stylesheet" />
        <script type="text/javascript" src="js/starter-kit-1.5.1/js/libs/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="js/jquery.md5.js"></script>
    	<script type="text/javascript" src="js/scrollmagic/greensock/TweenMax.min.js"></script>
    	<script type="text/javascript" src="js/scrollmagic/greensock/ScrollToPlugin.min.js"></script>
        <script type="text/javascript" src="js/scrollmagic/jquery.scrollmagic.min.js"></script>
        <script type="text/javascript" src="js/scrollmagic/jquery.scrollmagic.debug.js"></script>
        <script type="text/javascript" src="js/angularjs/angular.min.1.2.16.js"></script>
        <script type="text/javascript" src="js/application-angularjs.js"></script>
    </head>
    <body ng-app="myCv">
        <div id="menu" class="row">
            <div id="classical-cv" class="col-sm-offset-2 col-sm-4"><a href="/">CV Classique</a></div>
            <div id="dynamical-cv" class="col-sm-4"><a href="#">CV Dynamique</a></div>
        </div>
        <section id="wrapper">
            <div id="marker-debut" class="marker"></div>
            <div id="marker-contact-away" class="marker"></div>
            <div id="marker-technicals" class="marker"></div>
            <div id="marker-history" class="marker"></div>
            <div id="marker-training" class="marker"></div>
            <div id="marker-show-various" class="marker"></div>
            <div id="marker-et-voila" class="marker"></div>

            <div id="main-scroll">

                <div id="main" class="round-transparent">
                    <img src="img/IMG_1545_Fotor_3_Fotor_Fotor.jpg" class="background-photo" id="photo-arbre-ciel">
                    <img src="img/IMG_7407_Fotor_Fotor_Fotor.jpg" class="background-photo" id="photo-haunted-mansion">
                    <img src="img/IMG_8786_Fotor_Fotor_Fotor_Fotor.jpg" class="background-photo" id="photo-forest">
                    <img src="img/IMG_8944_Fotor_Fotor_Fotor_Fotor.jpg" class="background-photo" id="photo-dune">
                    <img src="img/IMG_8949_Fotor_Fotor_Fotor_Fotor.jpg" class="background-photo" id="photo-beach">
                    <img src="img/IMG_1654_Fotor_2.jpg" class="background-photo" id="photo-moi">


                    <div id="pres-contact">
                        <div id="photo-profil" class="photo"></div>

                        <div id="contacts" class="round-transparent white-border trans-grey-background" ng-controller="ContactCtrl">
                            <div id="name">{{contact.lastname}} {{contact.firstname}}</div>
                            <div id="address_line" ng-repeat="address_line in contact.address_line">{{address_line}}</div>
                            <div id="zipcode_city">{{contact.zipcode}} {{contact.city}}</div>
                            <div id="phone">{{contact.phone}}</div>
                            <div id="email" ng-repeat="email in contact.email"><a href="mailto:{{email}}">{{email}}</a></div>
                            <div id="various" ng-repeat="element in contact.various">{{element}}</div>
                            <div id="birth" ng-repeat="birth_element in birth">{{birth_element}}</div>
                        </div>
                    </div>

                    <h1 id="titleCV" class="col-sm-offset-3 col-sm-6" ng-controller="ContactCtrl">{{title}}</h1>

                    <div id="technicals" class="col-sm-offset-1 col-sm-10 round-transparent white-border trans-grey-background" ng-controller="TechnicalsCtrl">
                        <div class="row">
                            <h3 class="title col-sm-10">COMPETENCES TECHNIQUES</h3>
                        </div>
                        <div class="details" ng-repeat="oneTechnic in technicals">
                            <div class='row'>
                                <div class='col-xs-4 type'>{{oneTechnic.type}} :</div>
                                <div class='col-xs-8 contenu'>{{oneTechnic.details}}</div>
                            </div>
                        </div>
                    </div>

                    <div id="professional-history" class="col-sm-offset-1 col-sm-10 round-transparent white-border trans-grey-background" ng-controller="ProfessionnalHistoryCtrl">
                        <div class="row">
                            <h3 class="title col-sm-10">EXPERIENCES PROFESSIONNELLES</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 details" ng-repeat="society_story in professionnal_history">
                                <hr ng-if="$index > 0"/>
                                <div class='row'>
                                    <div class='row hidden-print'>
                                        <div class='col-sm-3 right hidden-xs'>
                                            <strong>Du {{society_story.start_date}}<br/>au {{society_story.end_date}}</strong>
                                        </div>
                                        <div class='col-xs-offset-1 col-sm-3 visible-xs'>
                                            <strong>Du {{society_story.start_date}} au {{society_story.end_date}}</strong>
                                        </div>
                                        <div class='col-xs-1 right hidden-xs'>Société</div>
                                        <div class='col-xs-offset-1 col-xs-3 right visible-xs'>Société</div>
                                        <div class='col-xs-6 hidden-xs'><strong>{{society_story.society}}</strong></div>
                                        <div class='col-xs-6 visible-xs'><strong>{{society_story.society}}</strong></div>
                                    </div>
                                    <div class='row visible-print'>
                                        <div class='col-md-12 title'>
                                            <strong>Du {{society_story.start_date}} au {{society_story.end_date}} - {{society_story.society}}</strong>
                                        </div>
                                    </div>
                                    <div ng-repeat="a_role in society_story.role">
                                        <div class='row' ng-if="society_story.role.length > 1">
                                            <div class='col-xs-offset-3 col-xs-1 right'>Période</div>
                                            <div class='col-xs-7'>
                                                <strong>Du {{a_role.startDate}} au {{a_role.endDate}}</strong>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-xs-offset-2 col-xs-2 right hidden-print hidden-xs'>Poste :</div>
                                            <div class='col-xs-offset-1 col-xs-3 right hidden-print visible-xs'>Poste :</div>
                                            <div class='col-xs-7 hidden-print'><strong>{{a_role.role}}</strong></div>
                                            <div class='col-xs-2 right visible-print'>Poste :</div>
                                            <div class='col-xs-10 visible-print'><strong>{{a_role.role}}</strong></div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-xs-offset-4 col-xs-8 contenu hidden-print'>
                                                <ul>
                                                    <li ng-repeat="mission in a_role.missions">
                                                        <p ng-if="!mission.title" ng-bind-html="deliberatelyTrustDangerousSnippet(mission)"/>
                                                        <p ng-if="mission.title" ng-bind-html="deliberatelyTrustDangerousSnippet(mission.title)"/>
                                                        <ul ng-if="mission.title">
                                                            <li ng-repeat="submission in mission.submissions">
                                                                <p ng-bind-html="deliberatelyTrustDangerousSnippet(submission)"/>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class='col-xs-offset-3 col-xs-11 contenu visible-print'>
                                                <ul>
                                                    <li ng-repeat="mission in a_role.missions">
                                                        <p ng-if="!mission.title" ng-bind-html="deliberatelyTrustDangerousSnippet(mission)"/>
                                                        <p ng-if="mission.title" ng-bind-html="deliberatelyTrustDangerousSnippet(mission.title)"/>
                                                        <ul ng-if="mission.title">
                                                            <li ng-repeat="submission in mission.submissions">
                                                                <p ng-bind-html="deliberatelyTrustDangerousSnippet(submission)"/>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-xs-offset-2 col-xs-2 right hidden-print hidden-xs'>Techno :</div>
                                            <div class='col-xs-offset-1 col-xs-3 right hidden-print visible-xs'>Techno :</div>
                                            <div class='col-xs-7 hidden-print'><strong>{{a_role.technologies}}</strong></div>
                                            <div class='col-xs-2 right visible-print'>Techno :</div>
                                            <div class='col-xs-10 visible-print'><strong>{{a_role.technologies}}</strong></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="training" class="col-sm-offset-1 col-sm-10 round-transparent white-border trans-grey-background" ng-controller="TrainingsCtrl">
                        <div class="row">
                            <h3 class="title col-sm-10">DIPLOMES et FORMATIONS</h3>
                        </div>
                        <div class="row details">
                            <div class='row' ng-repeat="training in trainings">
                                <div class='col-xs-offset-1 col-xs-3 right'>{{training.dateInString}}</div>
                                <div class='col-xs-8'>
                                    <p ng-if="!training.contentIsArray" ng-bind-html="deliberatelyTrustDangerousSnippet(basic_info(training.contents, training.location))"></p>
                                    <p ng-if="training.contentIsArray" ng-bind-html="deliberatelyTrustDangerousSnippet(training.location)"></p>
                                    <ul ng-if="training.contentIsArray">
                                        <li ng-repeat="content in training.contents" ng-bind-html="deliberatelyTrustDangerousSnippet(content)"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="langages" class="col-sm-offset-1 col-sm-10 round-transparent white-border trans-grey-background" ng-controller="LanguagesCtrl">
                        <div class="row">
                            <h3 class="title col-sm-10">LANGUES</h3>
                        </div>
                        <div class="row details">
                            <div class='row' ng-repeat="language in languages">
                                <div class='col-xs-offset-1 col-xs-4 right visible-xs' ng-bind-html="deliberatelyTrustDangerousSnippet(language.language)"></div>
                                <div class='col-xs-offset-1 col-xs-3 right hidden-xs' ng-bind-html="deliberatelyTrustDangerousSnippet(language.language)"></div>
                                <div class='col-xs-7'>{{language.level}}</div>
                            </div>
                        </div>
                    </div>

                    <div id="interests" class="col-sm-offset-1 col-sm-10 round-transparent white-border trans-grey-background" ng-controller="InterestsCtrl">
                        <div class="row">
                            <h3 class="title col-sm-10">CENTRES D'INTERET</h3>
                        </div>
                        <div class="row details">
                            <div class='row' ng-repeat="interest in interests">
                                <div class='col-xs-offset-1 col-xs-12 left'>{{interest}}</div>
                            </div>
                        </div>
                    </div>

                    <h1 id="its-me" class="col-sm-offset-3 col-sm-6 row">Ca, c'est moi...</h1>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="js/angularjs/contacts.js"></script>
        <script type="text/javascript" src="js/angularjs/technicals.js"></script>
        <script type="text/javascript" src="js/angularjs/professionnals_history.js"></script>
        <script type="text/javascript" src="js/angularjs/trainings.js"></script>
        <script type="text/javascript" src="js/angularjs/languages.js"></script>
        <script type="text/javascript" src="js/angularjs/interests.js"></script>
        <script type="text/javascript" src="js/application-scrollmagic.js"></script>
    </body>
</html>